<div class="container artwork-container">
  <div class="row">
    <div class="col-sm-2">
      <img class="miniPhoto" src="/<%=artwork._creator.pic_path%>"><br>
      By: <strong><%= artwork._creator.username%></strong>
    </div>
    <div class="col-sm-10">
      <h1><%= artwork.title %></h1>
      <h2 class="artwork-category"><%= artwork.category %></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <img class="artwork-image" src="<%= artwork.pic_path %>">
    </div>
    <div class="col-sm-4 artwork-info">
      <form action="upload" method="post" enctype="multipart/form-data" class="">
        <label for="upload-photo" class="">Upload your Photo</label>
        <input type="file" name="artworkImage" id="upload-photo" class="form-control">
        <input type="hidden" value="<%= artwork._id%>" name="_id" id="upload-photo" class="form-control">
        <input type="submit" value="Upload an Artwork Photo!" class="">
      </form>
      <div class="artwork-progress">
        <p><%= artwork.description %></p>
      </div>
      <div class="artwork-pledged">
        <h3 class="light-text">
          Price
          <%= artwork.startBid %>€</h3>
        </span>
      </div>
      <% if (artworkIsCurrentUsers) { %>
        <a class="btn backer-btn" href="/gallery/<%= artwork._id%>/edit">Edit This artwork</a>

        <br>
        <a class="btn backer-btn" href="/gallery/<%= artwork._id%>/delete">Delete this artwork</a>
      <% } else { %>

        <a class="btn backer-btn" href="/gallery/<%= artwork._id%>/buy">Buy It!</a>
      <% } %>
    </div>
  </div>
</div>
