<div class="container artwork-container">
  <div class="row">
    <div class="col-sm-3">
      <div class="miniPhoto" style="background-image:url('/<%=artwork._creator.pic_path%>%>')">
      </div>
      By: <strong><%= artwork._creator.username%></strong>
    </div>
    <div class="col-sm-3">
      <h2><%= artwork.title %></h2>
    </div>
    <div class="col-sm-3">
      <h2 class="light-text">Price <%= artwork.startBid %>€</h2>
    </div>
    <div class="col-sm-3">
      <h3 class="artwork-category"><%= artwork.category %></h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="artwork-image" style="background-image:url('<%= artwork.pic_path %>')">
      </div>
    </div>
    <div class="col-sm-6 artwork-info">
      <form action="upload" method="post" enctype="multipart/form-data" class="">
        <label for="upload-photo" class="">Upload your Photo</label>
        <input type="file" name="artworkImage" id="upload-photo" class="form-control">
        <input type="hidden" value="<%= artwork._id%>" name="_id" id="upload-photo" class="form-control">
        <button class="btn btn-primary" type="submit" value="Upload an Artwork Photo!">Upload an Artwork Photo!</button>
      </form>
      <div class="artwork-progress">
        <p><%= artwork.description %></p>
      </div>
      <% if (artworkIsCurrentUsers) { %>
        <a class="btn btn-primary" href="/gallery/<%= artwork._id%>/edit">Edit This artwork</a>

        <a class="btn btn-primary" href="/gallery/<%= artwork._id%>/delete">Delete this artwork</a>
      <% } else { %>

        <a class="btn btn-primary" href="/gallery/<%= artwork._id%>/buy">Buy It!</a>
      <% } %>
    </div>
  </div>
</div>
