<div class="container artwork-container">
  <div class="row">
    <div class="col-sm-2">
      <img src="https://ksr-ugc.imgix.net/assets/007/188/910/68df9ec3603e3f3138bed402dea3cab2_original.jpg?w=80&h=80&fit=crop&v=1466566705&auto=format&q=92&s=eff05acf65569368cc99f6363722fe60"><br>
      By: <strong><%= artwork._creator.username %></strong>
    </div>
    <div class="col-sm-10">
      <h1><%= artwork.title %></h1>
      <h2 class="artwork-category"><%= artwork.category %></h2>
      <p class="artwork-description"><%= artwork.description %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <img class="artwork-image" src="<%= artwork.image %>">
    </div>
    <div class="col-sm-4 artwork-info">
      <div class="artwork-progress">
        <progress value="<%= artwork.totalPledged %>" max="<%= artwork.startBid %>"></progress>
      </div>
      <div class="artwork-pledged">
        <span class="artwork-total">$<%= artwork.totalPledged %></span><br>
        <span class="light-text">
          pledged of
          $<%= artwork.startBid %></span> startBid
        </span>
      </div>
      <div class="artwork-backers">
        <strong class="large-strong"><%= artwork.backerCount %></strong><br>
        <span class="light-text">backers</span>
      </div>
      <div class="artwork-time">
        <strong class="large-strong"><%= artwork.timeRemaining.days %></strong><br>
        <span class="light-text"><%= artwork.timeRemaining.unit  %> to go.</span>
      </div>
      <% if (artworkIsCurrentUsers) { %>
        <a class="btn backer-btn" href="/gallery/<%= artwork._id%>/edit">Edit This Project</a>
      <% } else { %>
        <a class="btn backer-btn" href="#">Back This Project</a>
      <% } %>
    </div>
  </div>
</div>
