<div class="container artwork-container">
  <div class="row">
    <div class="col-sm-2">
      <img src="<%= artwork._creator.pic_path  %>"><br>
      By: <strong><%= artwork._creator.username%></strong>
    </div>
    <div class="col-sm-10">
      <h1><%= artwork.title %></h1>
      <h2 class="artwork-category"><%= artwork.category %></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <img class="artwork-image" src="<%= artwork.pic_path %>">
    </div>
    <div class="col-sm-4 artwork-info">
      <div class="artwork-progress">
        <p><%= artwork.description %></p>
      </div>
      <div class="artwork-pledged">
        <h3 class="light-text">
          Price
          <%= artwork.startBid %>€</h3>
        </span>
      </div>
      <div class="artwork-time">
        <strong class="large-strong"><%= artwork.timeRemaining.days %></strong><br>
        <span class="light-text"><%= artwork.timeRemaining.unit  %> to go.</span>
      </div>
      <% if (artworkIsCurrentUsers) { %>
        <a class="btn backer-btn" href="/gallery/<%= artwork._id%>/edit">Edit This Project</a>
      <% } else { %>
        <a class="btn backer-btn" href="#">Buy It!</a>
      <% } %>
    </div>
  </div>
</div>
