<div class="container-fluid">
  <div class="home-heading text-center row">
    <div class="home-heading-wrapper">
      <img class="logo-claim" src="/images/logo-claim.svg" alt="Artiium Logo and claim">
      <h2>Artist thrive here</h2>
      <h3>The place where you can buy the better artworks or auction your creations</h3>
    </div>
  </div>
</div>
<div class="title-gallery">
  <h3 class="text-center">See our Gallery...</h3>
</div>
<div class="artwork-row row">
  <% gallery.forEach((artwork) => { %>
    <div class="col-sm-3 home-artwork-box">
      <div class="imagebox" style="background-image:url('<%= artwork.pic_path %>')">
      <div class="artwork-info-wrapper">
        <a href="/gallery/<%= artwork._id %>">
          <h2 class="title"><%= artwork.title %></h3>
        </a>
        <p class="created-by"><span class="price"><%= artwork.startBid %>€</span> - by <%= artwork._creator.username %></p>
      </div>
      </div>
    </div>
  <%  }) %>
</div>
