<div class="container-fluid">
  <div class="home-heading text-center row">
    <div class="home-heading-wrapper">
      <img class="logo-claim" src="/images/logo-claim.svg" alt="Artiium Logo and claim">
      <p>Artist thrive here</p>
      <p>The place where you can bid up for artworks or auction your creations</p>
      <a class="btn btn-default" href="#">See our galery</a>
    </div>
  </div>
</div>
<div class="artwork-row row">
    <h3 class="text-center">You may be interested in...</h3>
    <% gallery.forEach((artwork) => { %>
      <div class="col-sm-3 home-artwork-box">
        <img src="<%= artwork.pic_path %>" alt="<%= artwork.pic_name %>" />
        <div class="artwork-info-wrapper">
          <a class="title" href="/gallery/<%= artwork._id %>">
            <strong><%= artwork.title %></strong>
          </a><br>
          by <span class="light-text"><%= artwork.creator.username %></span><br>
          <span class="light-text description"><%= artwork.description %></span>
        </div>
      </div>
    <%  }) %>
  </div>
