<div class="container-fluid">
  <div class="home-heading text-center row">
    <div class="home-heading-wrapper">
      <img class="logo-claim" src="/images/logo-claim.svg" alt="Artiium Logo and claim">
      <h2>Artist thrive here</h2>
      <h3>The place where you can bid up for artworks or auction your creations</h3>
    </div>
  </div>
</div>
<div class="title-gallery">
  <h3 class="text-center">See our Gallery...</h3>
</div>
<div class="artwork-row row">
  <% gallery.forEach((artwork) => { %>
    <div class="col-sm-3 home-artwork-box">
      <img src="<%= artwork.pic_path %>">
      <div class="artwork-info-wrapper">
        <a class="title" href="/gallery/<%= artwork._id %>">
          <strong><%= artwork.title %></strong>
        </a><br>
         <span class="light-text">by <%= artwork._creator.username %></span><br>
        <p class="light-text description"><%= artwork.description %></p>
      </div>
    </div>
  <%  }) %>
</div>
