<div class="container">
  <div class="page-header">
    <div class="row">
    <div class="col-md-4">
      <p> Name:
        <%=req.user.username %>
      </p>
    </div>
    <div class="col-md-4">
      <p> Description:
        <%=req.user.description %>
      </p>
    </div>
    <div class="col-md-4">
        foto de <%=req.user.username %>
        <br>
        <img src="<%=`${req.user.pic_path}`%>"/>

      <!-- rutas ficticias en este momento -->
      <li> <a href="<%=req.user.username %>/edit"> Editar perfil </a> </li>
      <% if (req.user.isArtist) { %>
            <li> <a href="/gallery/new"> Gallery new </a> </li>

          <% } else { %>

          <% } %>
      </div>
    </div>
  </div>
</div>
