
<section class="container">
  <div class="row">
    <div class="col-sm-offset-2 col-sm-8 centered-form">
      <div class="col-md-12">
        <div class="col-md-8 profile-data">
          <h3 class="profile-name"><%=req.user.username %></h3>
          <p class="profile-email"><%=req.user.email %></p>
          <i class="profile-description"><%=req.user.description %></i>
        </div>
        <div class="col-md-4 profile-options">
          <div class="profile-avatar" style="background-image:url('<%=`${req.user.pic_path}`%>')">
          </div>
          <form action="/upload" method="post" enctype="multipart/form-data" class="form-inline">
            <label class="custom-file">
              <input type="file" name="profileImage" id="upload-photo" placeholder="Choose file" class="custom-file-input">
              <span class="custom-file-control"></span>
            </label></br>
            <button type="submit" value="Change it!" class="btn btn-primary btn-profile">Change your image</button>
          </form>
          <a class="btn btn-primary btn-profile" href="edit/<%=req.user.username %>">Edit profile</a>
          <% if (req.user.isArtist) { %>
            <a class="btn btn-primary btn-profile" href="/gallery/new">New art upload</a>
          <% } %>
        </div>
      </div>
    </div>
  </div>
  <div class="artwork-row row">
  </div>
</section>
